In [1]:
import re
import pandas as pd
import numpy as np
import ipywidgets as widgets
from IPython.display import display
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
#load movies dataset
movies = pd.read_csv("movies.csv")

In [3]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [4]:
def clean_title(title):
    return re.sub("[^a-zA-Z0-9 ]", "", title)

In [5]:
movies["clean_title"] = movies["title"].apply(clean_title)

In [6]:
movies

,movieId,title,genres,clean_title
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
1,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
...,...,...,...,...
62418,209157,We (2018),Drama,We 2018
62419,209159,Window of the Soul (2001),Documentary,Window of the Soul 2001
62420,209163,Bad Poems (2018),Comedy|Drama,Bad Poems 2018
62421,209169,A Girl Thing (2001),(no genres listed),A Girl Thing 2001
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama,Women of Devils Island 1962

In [7]:
vectorizer = TfidfVectorizer(ngram_range = (1,2))
tfidf = vectorizer.fit_transform(movies["clean_title"])

In [8]:
def search(title):
    title = clean_title(title)
    query_vec = vectorizer.transform([title])
    similarity = cosine_similarity(query_vec, tfidf).flatten()
    indices = np.argpartition(similarity, -5)[-5:]
    results = movies.iloc[indices][::-1]
    return results

In [23]:
ratings = pd.read_csv("ratings.csv")

In [24]:
# display ratings dataset
ratings

         userId  movieId  rating     timestamp
0             1      296     5.0  1.147880e+09
1             1      306     3.5  1.147869e+09
2             1      307     5.0  1.147869e+09
3             1      665     5.0  1.147879e+09
4             1      899     3.5  1.147869e+09
...         ...      ...     ...           ...
6629901   42908     4270     1.0  1.015126e+09
6629902   42908     4321     3.0  1.015126e+09
6629903   42908     4370     1.0  1.015125e+09
6629904   42908     4517     3.0  1.048391e+09
6629905   42908     4545     2.0           NaN

[6629906 rows x 4 columns]

In [27]:
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp    float64
dtype: object

In [29]:
movie_id = 5

In [31]:
similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >= 4)]["userId"].unique()
similar_users

array([   18,    75,   105,   130,   137,   166,   167,   169,   173,
         236,   291,   309,   371,   395,   407,   455,   484,   506,
         559,   580,   592,   601,   653,   718,   818,   907,   920,
         969,   984,   986,  1036,  1104,  1120,  1283,  1297,  1368,
        1395,  1498,  1513,  1575,  1635,  1657,  1676,  1732,  1748,
        1829,  1840,  1855,  2134,  2172,  2176,  2261,  2271,  2284,
        2286,  2353,  2374,  2407,  2431,  2451,  2591,  2614,  2616,
        2650,  2770,  2806,  2836,  2847,  3024,  3128,  3143,  3145,
        3226,  3267,  3352,  3403,  3434,  3491,  3553,  3622,  3653,
        3748,  3769,  3834,  3891,  3974,  4026,  4032,  4038,  4145,
        4185,  4196,  4226,  4254,  4286,  4325,  4355,  4392,  4458,
        4470,  4494,  4496,  4519,  4559,  4606,  4608,  4663,  4729,
        4779,  4794,  4921,  4930,  4986,  5101,  5239,  5298,  5340,
        5350,  5402,  5448,  5535,  5805,  5842,  5883,  5909,  5923,
        6020,  6039,  6119,  6162,  6170,  6326,  6357,  6432,  6540,
        6548,  6567,  6724,  6731,  6792,  6797,  6881,  6923,  7000,
        7004,  7011,  7093,  7114,  7128,  7131,  7133,  7144,  7326,
        7394,  7407,  7432,  7444,  7557,  7687,  7702,  7814,  7866,
        7867,  7871,  7889,  7919,  7960,  7978,  8058,  8120,  8234,
        8277,  8340,  8539,  8589,  8641,  8646,  8798,  8827,  8848,
        8852,  8893,  8971,  9007,  9342,  9354,  9415,  9475,  9494,
        9539,  9554,  9584,  9595,  9872,  9873,  9893,  9978,  9979,
       10078, 10304, 10308, 10315, 10360, 10372, 10373, 10418, 10432,
       10513, 10559, 10564, 10642, 10673, 10732, 10746, 10780, 10890,
       10964, 10981, 10985, 11058, 11149, 11181, 11195, 11295, 11315,
       11357, 11419, 11426, 11461, 11490, 11515, 11552, 11575, 11658,
       11665, 11712, 11768, 11773, 11793, 11844, 11851, 11898, 11924,
       11976, 11991, 12045, 12089, 12154, 12189, 12247, 12344, 12380,
       12443, 12571, 12606, 12751, 12763, 12916, 12942, 12961, 12964,
       12992, 13050, 13077, 13130, 13196, 13307, 13347, 13502, 13510,
       13566, 13660, 13728, 13924, 13951, 14119, 14146, 14204, 14205,
       14266, 14310, 14320, 14362, 14366, 14370, 14428, 14457, 14528,
       14582, 14710, 14738, 14745, 14763, 14786, 14805, 14893, 14899,
       14927, 14934, 15029, 15125, 15147, 15237, 15241, 15253, 15265,
       15336, 15354, 15415, 15548, 15551, 15585, 15599, 15752, 15830,
       15867, 15991, 16037, 16040, 16047, 16185, 16287, 16451, 16533,
       16570, 16576, 16710, 16739, 16742, 16819, 16902, 16916, 16964,
       16982, 17010, 17013, 17060, 17073, 17124, 17149, 17152, 17193,
       17215, 17235, 17238, 17269, 17382, 17474, 17504, 17514, 17553,
       17624, 17651, 17777, 17806, 17816, 17881, 17914, 17990, 18006,
       18102, 18134, 18206, 18230, 18236, 18255, 18306, 18343, 18447,
       18526, 18532, 18551, 18587, 18723, 18949, 19009, 19064, 19107,
       19140, 19248, 19283, 19285, 19356, 19424, 19502, 19506, 19718,
       19848, 19872, 20162, 20174, 20190, 20247, 20269, 20291, 20303,
       20317, 20318, 20342, 20400, 20471, 20496, 20561, 20591, 20607,
       20644, 20798, 20805, 20890, 20920, 20932, 21003, 21029, 21077,
       21078, 21097, 21116, 21187, 21199, 21223, 21244, 21304, 21348,
       21362, 21447, 21509, 21565, 21568, 21757, 21778, 21879, 22121,
       22165, 22170, 22190, 22228, 22238, 22255, 22275, 22292, 22293,
       22362, 22445, 22516, 22519, 22527, 22594, 22602, 22663, 22665,
       22779, 22835, 22848, 22862, 22940, 22970, 23006, 23121, 23137,
       23140, 23229, 23237, 23448, 23465, 23477, 23500, 23533, 23612,
       23700, 23720, 23762, 23781, 23787, 23796, 23822, 23823, 23878,
       23994, 24037, 24252, 24270, 24366, 24390, 24451, 24499, 24509,
       24576, 24597, 24731, 24759, 24798, 24858, 24861, 24864, 24928,
       24935, 24962, 25014, 25034, 25040, 25084, 25104, 25140, 25185,
       25193, 25197, 25254, 25310, 25359, 25387, 25424, 25490, 25554,
       25558, 25631, 25737, 25744, 25855, 25866, 25893, 25940, 26078,
       26135, 26482, 26622, 26638, 26657, 26715, 26740, 26790, 26829,
       26923, 26932, 27064, 27119, 27130, 27149, 27286, 27318, 27339,
       27370, 27451, 27495, 27504, 27514, 27519, 27574, 27580, 27586,
       27755, 27774, 27857, 27934, 27978, 27987, 28176, 28363, 28389,
       28391, 28573, 28598, 28608, 28654, 28695, 28832, 28920, 28931,
       28949, 28957, 28984, 29063, 29070, 29072, 29148, 29241, 29243,
       29292, 29393, 29447, 29511, 29671, 29735, 29779, 29792, 29847,
       29862, 29914, 29950, 30025, 30052, 30067, 30130, 30144, 30256,
       30261, 30273, 30315, 30404, 30488, 30575, 30605, 30645, 30712,
       30741, 30760, 30762, 30780, 30900, 30967, 31053, 31111, 31133,
       31158, 31161, 31286, 31373, 31505, 31567, 31577, 31637, 31798,
       31830, 31861, 32003, 32027, 32182, 32186, 32308, 32326, 32359,
       32397, 32451, 32541, 32578, 32611, 32677, 32721, 32722, 32764,
       32878, 32939, 33038, 33267, 33379, 33418, 33483, 33499, 33562,
       33580, 33730, 33731, 33734, 33838, 33900, 33954, 33996, 34105,
       34115, 34122, 34137, 34147, 34154, 34165, 34185, 34195, 34254,
       34285, 34385, 34453, 34538, 34555, 34585, 34630, 34758, 34868,
       34956, 34992, 35028, 35040, 35084, 35199, 35208, 35212, 35290,
       35390, 35427, 35468, 35487, 35512, 35527, 35624, 35691, 35695,
       35703, 35733, 35758, 36068, 36073, 36105, 36216, 36269, 36402,
       36440, 36525, 36537, 36551, 36554, 36626, 36679, 36708, 36746,
       36785, 36792, 36866, 36972, 36986, 37043, 37052, 37094, 37130,
       37169, 37213, 37221, 37256, 37339, 37365, 37385, 37411, 37434,
       37525, 37544, 37792, 37815, 37828, 37835, 37844, 37869, 37886,
       37917, 37973, 38096, 38126, 38156, 38160, 38302, 38304, 38373,
       38399, 38476, 38530, 38622, 38689, 38712, 38815, 38862, 38882,
       38894, 38965, 39010, 39112, 39126, 39239, 39241, 39263, 39321,
       39516, 39655, 39743, 39792, 39822, 39854, 39863, 39919, 39982,
       40021, 40070, 40126, 40135, 40227, 40279, 40293, 40297, 40314,
       40329, 40442, 40455, 40479, 40538, 40557, 40611, 40620, 40670,
       40713, 40811, 40941, 40971, 40997, 41062, 41104, 41178, 41196,
       41212, 41244, 41283, 41294, 41312, 41339, 41346, 41376, 41380,
       41427, 41488, 41571, 41598, 41649, 41666, 41774, 41796, 41837,
       41852, 41872, 42011, 42039, 42071, 42126, 42212, 42232, 42244,
       42273, 42335, 42346, 42395, 42450, 42492, 42592, 42607, 42645,
       42684], dtype=int64)

In [33]:
similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] >= 4)]["movieId"]
similar_user_recs

3018         5
3019         7
3020        10
3021        11
3023        19
          ...
6588816    494
6588817    610
6588818    661
6588819    736
6588823    780
Name: movieId, Length: 98831, dtype: int64

In [35]:
similar_user_recs = similar_user_recs.value_counts()
similar_user_recs

movieId
5        838
1        403
356      403
780      369
318      334
        ...
70206      1
70227      1
71490      1
72041      1
91886      1
Name: count, Length: 8666, dtype: int64

In [37]:
# convert into %
similar_user_recs = similar_user_recs.value_counts() / len(similar_users)

# take the movies that appears more (> 10%)
similar_user_recs = similar_user_recs[similar_user_recs > .1]
similar_user_recs

count
1     3.698091
2     1.381862
3     0.885442
4     0.576372
5     0.410501
6     0.321002
7     0.270883
8     0.198091
10    0.187351
9     0.184964
12    0.146778
11    0.132458
Name: count, dtype: float64

In [39]:
# how much popular these movies are (all people liked)
all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
all_users

         userId  movieId  rating     timestamp
1459          9        2     5.0  8.593831e+08
1460          9       10     5.0  8.593834e+08
3864         23        3     5.0  9.431357e+08
3867         23       11     5.0  9.429695e+08
5101         36        1     5.0  8.571314e+08
...         ...      ...     ...           ...
6627919   42896        1     5.0  1.227295e+09
6628833   42898        1     4.5  1.364687e+09
6629257   42905        7     5.0  9.403186e+08
6629258   42905       11     5.0  9.403175e+08
6629423   42906        1     5.0  1.550538e+09

[10632 rows x 4 columns]

In [41]:
# convert into % 
all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
all_users_recs

movieId
1     0.591111
6     0.228535
10    0.104176
11    0.103593
2     0.077462
7     0.047713
3     0.034298
5     0.028581
12    0.007583
9     0.007233
4     0.006300
8     0.003733
Name: count, dtype: float64

In [43]:
# how much similar users liked them and all users liked them
rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis = 1)
rec_percentages.columns = ["similar", "all"]
rec_percentages

     similar       all
1   3.698091  0.591111
2   1.381862  0.077462
3   0.885442  0.034298
4   0.576372  0.006300
5   0.410501  0.028581
6   0.321002  0.228535
7   0.270883  0.047713
8   0.198091  0.003733
10  0.187351  0.104176
9   0.184964  0.007233
12  0.146778  0.007583
11  0.132458  0.103593

In [45]:
# ratio similar and all users liked movies 
rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]

# sort all the values
rec_percentages = rec_percentages.sort_values("score", ascending = False)

rec_percentages

     similar       all      score
4   0.576372  0.006300  91.493768
8   0.198091  0.003733  53.063544
3   0.885442  0.034298  25.816343
9   0.184964  0.007233  25.572792
12  0.146778  0.007583  19.356637
2   1.381862  0.077462  17.839333
5   0.410501  0.028581  14.362515
1   3.698091  0.591111   6.256174
7   0.270883  0.047713   5.677285
10  0.187351  0.104176   1.798400
6   0.321002  0.228535   1.404611
11  0.132458  0.103593   1.278640

In [47]:
# take top 10 recommendations and add them to movies data to get the titles
rec_percentages.head(10).merge(movies, left_index = True, right_on = "movieId")

,similar,all,score,movieId,title,genres,clean_title
3,0.576372,0.006300,91.493768,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Waiting to Exhale 1995
7,0.198091,0.003733,53.063544,8,Tom and Huck (1995),Adventure|Children,Tom and Huck 1995
2,0.885442,0.034298,25.816343,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men 1995
8,0.184964,0.007233,25.572792,9,Sudden Death (1995),Action,Sudden Death 1995
11,0.146778,0.007583,19.356637,12,Dracula: Dead and Loving It (1995),Comedy|Horror,Dracula Dead and Loving It 1995
1,1.381862,0.077462,17.839333,2,Jumanji (1995),Adventure|Children|Fantasy,Jumanji 1995
4,0.410501,0.028581,14.362515,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II 1995
0,3.698091,0.591111,6.256174,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Toy Story 1995
6,0.270883,0.047713,5.677285,7,Sabrina (1995),Comedy|Romance,Sabrina 1995
9,0.187351,0.104176,1.798400,10,GoldenEye (1995),Action|Adventure|Thriller,GoldenEye 1995

In [49]:
# recommendation function
def find_similar_movies(movie_id):
    # anyone who watched and rated that movie avobe 4
    similar_users = ratings[(ratings["movieId"] == movie_id) & (ratings["rating"] >= 4)]["userId"].unique()
    # get ids of other movies they liked and rated above 4
    similar_user_recs = ratings[(ratings["userId"].isin(similar_users)) & (ratings["rating"] >= 4)]["movieId"]
    
    # convert into %
    similar_user_recs = similar_user_recs.value_counts() / len(similar_users)
    # take the movies that appears more (> 10%)
    similar_user_recs = similar_user_recs[similar_user_recs > .1]
    
    # how much popular these movies are (all people liked)
    all_users = ratings[(ratings["movieId"].isin(similar_user_recs.index)) & (ratings["rating"] > 4)]
    # convert into % 
    all_users_recs = all_users["movieId"].value_counts() / len(all_users["userId"].unique())
    
    # how much similar users liked them and all users liked them
    rec_percentages = pd.concat([similar_user_recs, all_users_recs], axis = 1)
    rec_percentages.columns = ["similar", "all"]
    
    # ratio similar and all users liked movies 
    rec_percentages["score"] = rec_percentages["similar"] / rec_percentages["all"]
    
    # sort all the values
    rec_percentages = rec_percentages.sort_values("score", ascending = False)
    
    # take top 10 recommendations and add them to movies data to get the titles
    return rec_percentages.head(10).merge(movies, left_index = True, right_on = "movieId")[["score", "title", "genres"]]

In [51]:
# input field and label
movie_name_input = widgets.Text(
    value = "Toy Story",
    description = "Movie Title:",
    disabled = False
)

# create output widget
recommandation_list = widgets.Output()

# function for output
def on_type(data):
    with recommandation_list:
        recommandation_list.clear_output()
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            movie_id = results.iloc[0]["movieId"]
            display(find_similar_movies(movie_id))

# make search box active on type
movie_name_input.observe(on_type, names = "value")

# display the widgets
display(movie_name_input, recommandation_list)

Text(value='Toy Story', description='Movie Title:')

Output()

In [53]:
results = search("Batman")
movie_id = results.iloc[0]["movieId"]
display(find_similar_movies(movie_id))

,score,title,genres
8614,1310.562500,Batman (1966),Action|Adventure|Comedy
4306,453.383784,Sons of Katie Elder (1965),Western
11409,206.083538,"36th Chamber of Shaolin, The (Shao Lin san shi...",Action|Adventure
4335,167.919920,"Big Boss, The (Fists of Fury) (Tang shan da xi...",Action|Thriller
5741,153.170197,Scanners (1981),Horror|Sci-Fi|Thriller
7439,137.853178,Jason and the Argonauts (1963),Action|Adventure|Fantasy
10415,137.389025,Zathura (2005),Action|Adventure|Children|Fantasy
4835,129.538224,Flash Gordon (1980),Action|Adventure|Sci-Fi
1506,122.235824,Batman & Robin (1997),Action|Adventure|Fantasy|Thriller
10469,119.311522,"Matador, The (2005)",Comedy|Drama|Thriller